@import url("https://use.typekit.net/pgs0dlo.css");

body {
  background-color: #000814;
}
/* -----------------------heading---------------------- */
.heading {
  color: white;
  text-align: center;
  font-size: 8vh;
  font-weight: bold;
  text-align: center;
  font-family: sniglet, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.logo img {
  width: 20vh;
  height: 20vh;
  margin-top: 2vh;
  margin-left: 2vh;
}

/* ---------------------------------undraw----------------------------------------------- */
.pic {
  margin-top: 0vh;
  margin-left: 10vh;
}
.pic img {
  height: 70vh;
  width: 100vh;
}
/* --------------------------------------------login------------------------------------- */

.login {
  position: absolute;
  top: 30%;
  left: 60%;
  width: 30%;
}

.login h4 {
  color: rgb(190, 190, 190);
  text-shadow: 0 0 1.5vh rgba(0, 0, 0, 0.3);
  letter-spacing: 0.125vw;
  margin-left: 1.5vw;
  font-size: 2.5vh;
}

input {
  width: 80%;
  margin-bottom: 1.5vh;
  margin-left: 1.5vw;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 1vh;
  font-size: 1vw;
  color: #fff;
  border: 0.125vw solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5vw;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

/* -------------------------------------------Button----------------------------------------------- */
.btn {
  border: 1px solid white;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 2.2vh;
  background-color: #222;
  padding: 1.5vh 1.5vh;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #008496;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* -------------------------------------Footer------------------------------- */

footer {
  /* position: absolute; */
  font-size: 1.6vh;
  bottom: 0;
  width: 100vw;
  height: 4vh;
  /* background-color: #001275; */
  background-color: #120e43;
  color: rgb(107, 104, 104);
  text-align: center !important;
  line-height: 1.5;
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #af9d5a;
  /* padding-left: 42%; */
}
footer a {
  text-decoration: none;
  text-align: center !important;
  color: inherit;
}
footer a:hover {
  color: #0faa01;
}

/* ---------------------------------media-------------------- */
@media only screen and (max-width: 1024px) {
  .login {
    top: 40% !important;
    left: 10% !important;
    width: 80% !important;
  }
  .pic {
    display: none;
  }
  .heading {
    font-size: 4vh;
  }
  .logo {
    left: 50% !important;
  }
  input {
    font-size: 3vw;
    margin-left: 25px;
  }
  .heading {
    margin-left: -25px;
    font-size: 6vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .login {
    top: 40% !important;
    left: 15% !important;
    width: 80% !important;
  }
}
